<input type="text" id="pattern" placeholder="pattern" name="pattern" [(ngModel)]="pattern"><br>
<input type="text" id="leftOperand" placeholder="leftOperand" [(ngModel)]="leftOperand"><br>
<input type="text" id="operand" placeholder="operand" [(ngModel)]="operand"><br>
<input type="text" id="rightOperand" placeholder="rightOperand" [(ngModel)]="rightOperand"><br>
<input type="text" id="result" placeholder="result" [(ngModel)]="result"><br>

<button type="button" (click)="captcha()">Captcha</button>